#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Gallery{
  min-height: 100vh;

}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.search-button{
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-size: larger;
  margin: 0 0 0 10px;
}
.search-button:hover {
  background-color: #535bf2 ;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recipe{
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
}
.recipe-col {
  margin-bottom: 20px;
}
.card-img-top {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.card-title {
  height: 3em;
}
.card-body {
  padding: 0;
}
.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
.img-fluid {
  width:100%;
  z-index: 0;
}
.title {
 margin: 20px 0;
}
